img {
  width: 100%;
  border-radius: 5px;
  margin-top: 24px;
}

#head{
  margin-top: 50px;
  font-size: xx-large;
}

#l_div {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10%;
  margin-right: 10%;    
}
body {  
    background-color: #1e1e1e;
  color: white;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#twoP_div {
  /* border: 1px solid pink; */
  display: flex;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 35px;
}
#name {
  width: 100%;
  font-size: large;
}
#price {
  width: 100%;
  margin-top: 10px;
  color: orange;
  font-size: larger;
}
#onnDiv{

    margin-top: 30px;
    margin-bottom: 30px;
    width: 45%;
    border-radius: 10px;
    margin-left: 27%;
    background-color: black;
}

#img2{
    margin-top: 5px;
    margin-right: 16px;
    height: 35px;
    width: 35px;
    cursor: pointer;
}